header{
    padding-block: 120px 183px;
    display: flex;
    align-items: center;
}

#profile img {
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 50%;
}

#profile :nth-child(2) {
    font: var(--subtitle)
}

#profile h1{
    font: var(--title-lg)
}

#profile :nth-child(4) {
    font: var(--text-sm)
}

#menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    
}

#menu li{
    gap: 20px;
}

