div{

    p{
        font: var(--subtitle);
        color: var(--red-color);
        margin-bottom: 8px;
        padding-top: 88px;
    }

    h3{
        font: var(--title-md);
        color: var(--base-gray-600);
        margin-bottom: 56px;
    }
}